body {
	background: rgba(0,0,0,.05);
	width: 100vw;
	overflow-x: hidden;
}

main {
	width: 100vw;
	overflow-x: hidden;
}

header {
	box-shadow: 0 6px 12px rgb(140 152 164 / 8%);
	border-bottom-color: rgba(231, 234, 243, 0.7) !important;
}

@media (min-width: 992px) {
	.navbar-expand-lg.navbar-height {
		height: 4.1rem;
	}
}

.strike {
	text-decoration: line-through;
	opacity: 0.8;
}

.btn:disabled {
	background-color: #f8fafd !important;
	border-color: rgb(231, 234, 243) !important;
	color: #677788;
}

.btn-link:disabled {
	background-color: transparent !important;
	border-color: transparent !important;
}

.nav-icon {
    font-size: 14px;
}

.page-header {
	padding: 0 0 0 0;
	margin-bottom: 15px;
	border:  none !important;
}

.custom-select[aria-disabled=true] {
	color: #8c98a4;
    background-color: #f8fafd;
    outline: none !important;
    opacity: 0.7;
}

.custom-select[aria-disabled=true]:focus {
    border-color: #e7eaf3;
    outline: 0;
    box-shadow: none !important;
}

.flatpickr-disabled {
	color: #e7eaf3 !important;
}

.flatpickr-day.today {
	background-color: transparent !important;
	color: #377dff !important;
}

.flatpickr-day.today.selected {
	background-color: #377dff !important;
	color: white !important;
}

.status {
	width: 10px;
	height: 10px;
	background-color: #377dff;
	display: inline-block;
	border-radius: 50%;
}

.status.success {
	background-color: #00c9a7 !important
}

.status.warning {
	background-color: #f5ca99 !important
}

.status.danger {
	background-color: #ed4c78 !important;
}

.input-group:hover {
	cursor: pointer;
}
.dropdown-item:hover {
	cursor: pointer;
}

img.avatar {
	object-fit: cover;
}

.loading {
	z-index: 9999;
	background-color: white;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.app > .loading {
	position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 9999 !important;
    background: rgba(255,255,255,.5) !important;
}

.popup > .loading,
.sheet-modal > .loading {
	border-radius: 10px 10px 0 0;
}

#app > .loading {
	background-color: rgba(0,0,0,0.3)
}

#app > .loading .path {
	stroke: white !important;
}

.tab .loading,
.modal .loading {
	position: absolute;
}

.preloader-inner .preloader-inner-half-circle {
	border: 3px solid var(--f7-blue) !important;
}

.preloader-inner-gap {
	border-top: 3px solid var(--f7-blue) !important;
}

.spinner {
	-webkit-transform: translateZ(0);
	z-index: 97;
}

.circular {
	-webkit-animation: rotate 1s linear infinite;
	animation: rotate 1s linear infinite;
	height: 45px;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	width: 45px;
	/*position: absolute;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
	stroke: rgb(66, 165, 245);
}

@-webkit-keyframes rotate {  
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotate {  
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes dash {  
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}

@keyframes dash {  
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}

.step.step-vertical li:last-child .step-icon::after {
	display: none;
}

.step.step-vertical .step-icon {
	font-size: 13px !important;
	background-color: transparent !important;
	color: #377dff;
}

.step.step-vertical .step-icon::after {
    top: 2.09375rem;
    left: 1.3125rem;
    height: 100%;
}

.step.step-vertical .step-content h4 {
	font-size: 15px;
	margin: 0;
	font-weight: 600;
}

@media only screen and (min-width: 576px)  {

	.input-group-quantity-counter .input-group-quantity-counter-control {
		padding-right: 20px !important;
	}

	.input-group-quantity-counter .input-group-quantity-counter-toggle {
		right: 0 !important;
		display: flex;
		flex-direction: column-reverse;
		right: 0 !important;
	}

	.input-group-quantity-counter .input-group-quantity-counter-btn {
	    width: 30px !important;
	    height: 16px !important;
	    border-radius: 0;
	    border: none;
	    background: transparent;
	}

}



@media (min-width: 576px) {
	.modal-lg {
	    max-width: 750px;
	    margin: 1.75rem auto;
	}
}















td label.helper {
	display: none;
}

@media only screen and (max-width: 576px)  {

.table-responsive table, 
.table-responsive thead, 
.table-responsive tbody, 
.table-responsive th, 
.table-responsive td, 
.table-responsive tr { 
    display: block; 
}

.table-responsive thead tr { 
    display: none;
}

.table-responsive tr { 
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: 15px;
}

.table-responsive td { 
    position: relative;
    width: 100% !important;
    padding: 5px 10px !important;
    text-align: left !important;
}

.table-responsive td .avatar { 
    width: 100px !important;
    height: 100px !important;
    margin: 0 auto 10px 0 !important;
    padding: 10px;
}

.table-responsive td label.helper {
	display: inline-block;
	margin: 0 5px 0 0;
    font-weight: 600;
    color: #323232;
}

.table-responsive td .custom-control.custom-checkbox {
	display: inline-block !important;
}

.table-responsive td button {
	height: 25px;
	width: 25px;
	padding: 0 !important;
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}
