<!-- FOOTER -->
  <a class="fab-button" href="https://api.whatsapp.com/send?phone=551321047575" target="_blank">
    <i class="fab fa-whatsapp"></i>
  </a>
    <footer class="bg-dark bg-cover @@classList">
      <div class="py-10 border-bottom border-gray-700">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-3 d-none d-md-block">

              <!-- Heading -->
              <h4 class="mb-6 text-white mr-4 mb-0">Empório Villa Borghese</h4>

              <!-- Social -->
              <ul class="list-unstyled list-inline mb-7 mb-md-0 d-none">
                <li class="list-inline-item">
                  <a href="#!" class="text-gray-350">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#!" class="text-gray-350">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#!" class="text-gray-350">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#!" class="text-gray-350">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#!" class="text-gray-350">
                    <i class="fab fa-medium"></i>
                  </a>
                </li>
              </ul>

            </div>
            <div class="col-6 col-sm">

              <!-- Heading -->
              <h6 class="heading-xxs mb-4 text-white">
                Atendimento
              </h6>

              <!-- Links -->
              <ul class="list-unstyled mb-7 mb-sm-0">
                <li>
                  <a class="text-gray-300" onclick="viewOrders()" href="javascript:;">Meus pedidos</a>
                </li>
                <li>
                  <a class="text-gray-300" onclick="viewProfile()" href="javascript:;">Meus dados</a>
                </li>
              </ul>

            </div>
            <div class="col-6 col-sm">

              <!-- Heading -->
              <h6 class="heading-xxs mb-4 text-white">
                Políticas
              </h6>

              <!-- Links -->
              <ul class="list-unstyled mb-7 mb-sm-0">
                <li>
                  <a class="text-gray-300" href="/terms">Termos e condições</a>
                </li>
              </ul>

            </div>
            <div class="col-6 col-sm">

              <!-- Heading -->
              <h6 class="heading-xxs mb-4 text-white">
                Institucional
              </h6>

              <!-- Links -->
              <ul class="list-unstyled mb-0">
                <li>
                  <a class="text-gray-300" href="/about">Nossa história</a>
                </li>
                <li>
                  <a class="text-gray-300" href="/stores">Nossas lojas</a>
                </li>
              </ul>

            </div>
            <div class="col-6 col-sm">

              <!-- Heading -->
              <h6 class="heading-xxs mb-4 text-white">
                Contato
              </h6>

              <!-- Links -->
              <ul class="list-unstyled mb-0">
                <li>
                  <a class="text-gray-300" target="_blank" href="https://api.whatsapp.com/send?phone=551321047575"><i class="fab fa-whatsapp"></i> 13 2104 7575</a>
                </li>
                <!--<li>
                  <a class="text-gray-300" href="https://api.whatsapp.com/send?phone=5513996293483" target="_blank">(13) 99629 3483</a>
                </li>-->
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="py-6">
        <div class="container">
          <div class="row">
            <div class="col d-flex align-items-center">

              <!-- Copyright -->
              <a href="https://uptech.com.ar" target="_blank" class="mb-3 mb-md-0 font-size-xxs text-muted d-flex">
                <span class="d-none d-md-block mr-2  text-gray-300">Desenvolvido por</span> <img src="/uptech.svg" style="height:20px">
              </a>

            </div>
            <div class="col-auto">

              <!-- Payment methods -->
              <img class="footer-payment" src=".//shopper/img/payment/mastercard.svg" alt="...">
              <img class="footer-payment" src=".//shopper/img/payment/visa.svg" alt="...">
              <img class="footer-payment" src=".//shopper/img/payment/amex.svg" alt="...">
              <img class="footer-payment" src=".//shopper/img/payment/maestro.svg" alt="...">

            </div>
          </div>
        </div>
      </div>
    </footer>