<!DOCTYPE html>
<html lang="pt">
<head>
<!-- Title -->
<title>Emporio Villa Borghese - 404</title>
<%- include ("./components/head") %>
</head>
<body id="homeSection" >
  <!-- ========== HEADER ========== -->
  <!-- ========== END HEADER ========== -->
  <!-- ========== HEADER ========== -->
  <%- include ("./components/navbar") %>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content " role="main">
    <div class="d-lg-flex py-15">
      <div class="container d-lg-flex align-items-lg-center space-4">
        <div class="w-lg-60 w-xl-50">
          <!-- Title -->
          <div class="mb-4">
            <h1 class="display-6">Ops</h1>
            <p class="">Não tem nada aqui.</p>
          </div>
          <!-- End Title -->
          <a class="btn btn-wide btn-primary transition-3d-hover" href="/">Voltar ao início</a>
        </div>
      </div>
    </div>
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  <!-- ========== HEADER ========== -->
  <%- include ("./components/footer") %>
  </a>
  <!-- End Go to Top -->
  <%- include ("./components/scripts") %>
</body>
</html>