<!DOCTYPE html>
<html lang="pt">
<head>
<!-- Title -->
<title>Emporio Villa Borghese - Termos e Condições</title>
<%- include ("./components/head") %>
<style type="text/css">
  .loader {
  margin: auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1em solid rgba(0, 0, 0, 0.1);
  border-right: 1em solid rgba(0, 0, 0, 0.1);
  border-bottom: 1em solid rgba(0, 0, 0, 0.1);
  border-left: 1em solid black;
  -webkit-animation: load8 0.5s infinite linear;
  animation: load8 0.5s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
<meta name="robots" content="index, follow" />
</head>
<body id="homeSection">
  <!-- ========== HEADER ========== -->
  <%- include ("./components/navbar") %>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">

    <!-- BREADCRUMB -->
    <nav class="py-5 d-none">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">
                Termos e Condições
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

    <!-- CONTENT -->
    <section class="pt-10 pb-12">
      <div class="container" name="filled">
        <div class="row">
          <div class="col-12 text-center">
            <!-- Heading -->
            <h3 class="pb-8">Termos e condições</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-md-15">
            <strong>REGULAMENTO DA PROMOÇÃO “ANIVERSÁRIO PREMIADO VILLA BORGHESE 25 ANOS”.</strong>
            <br><br>
            1. DADOS DE IDENTIFICAÇÃO
            EMPRESA(S) PROMOTORA(S)
            Razão Social: J.D. Fernandes e Filhos Ltda
            Nome Fantasia: Empório Villa Borghese
            CNPJ: 01.325.134/0004-98  
            Endereço: Rua Mato Grosso, 404 – Boqueirão – Santos/SP
            Telefone: (13) 2104-7575
            Site: www.emporiovillaborghese.com.br
            <br><br>
            Razão Social: J.D. Fernandes e Filhos Ltda
            Nome Fantasia: Empório Villa Borghese
            CNPJ: 01.325.134/0003-07
            Endereço: Rua Azevedo Sodré, 144 – Gonzaga – Santos/SP
            Telefone: (13) 2202-1598
            Site: www.emporiovillaborghese.com.br
            <br><br>
            2. NOME DA PROMOÇÃO
            Aniversário Premiado Villa Borghese 25 Anos
            <br><br>
            3. MODALIDADE DA PROMOÇÃO
            Assemelhada a cupom da sorte.
            <br><br>
            4. ÁREA DE ABRANGÊNCIA
            Compras feitas através das lojas físicas (unidade Mato Grosso e Unidade Azevedo Sodré), 
            site, aplicativo ou delivery.
            <br><br>
            5. PERÍODO DE PARTICIPAÇÃO
            A partir das 08:00 (OITO HORAS) do dia 3 de dezembro de 2021 às 23:00 (vinte e três 
            horas) do dia 16 de dezembro de 2021, de acordo com o horário oficial de Brasília.
            <br><br>
            6. DATA DO INÍCIO E TÉRMINO DO EVENTO
            A partir do dia 3 de dezembro de 2021 até 16 de dezembro de 2021.
            <br><br>
            7. PARTICIPANTES
            Participam desta promoção quaisquer pessoas físicas residentes em todo o
            território nacional e internacional, que cumprirem com os termos e condições
            estabelecidas neste regulamento.
            <br><br>
            8. PRODUTOS E SERVIÇOS OBJETOS DA PROMOÇÃO
            Compras acima de R$ 250,00 (Duzentos e cinquenta reais).
            <br><br>
            9. QUANTIDADE, DESCRIÇÃO DETALHADA E VALOR UNITÁRIO E TOTAL
            DOS PRÊMIOS
            20 vale compras no valor de R$ 500,00
            4 vale compras no valor de R$ 1000,00
            10 jantares para duas pessoas na Enoteca Decanter Santos (Rua Azevedo Sodré, 144 
            Sobreloja – Gonzaga – Santos/SP) com menu da sugestão do Chef e uma 
            garrafa de vinho indicada na harmonização. 
            10 almoços para duas pessoas na Enoteca Decanter Santos (Rua Azevedo Sodré, 144 
            Sobreloja – Gonzaga – Santos/SP): menu com entrada, prato principal, sobremesa com suco, 
            água ou refrigerante. Válido de segunda a sexta, exceto feriados.
            70 garrafas de vinho Finca La Linda. 
            30 conjuntos de 6 barras de chocolate Milka.
            20 conjuntos: 1 Queijo Brie Ille de France, 1 Presunto cru Vito Balducci, 1 vinho espanhol Artero Tempranillo. 
            Os prêmios não poderão ser convertidos em dinheiro.
            <br><br>
            10. CRITÉRIO DE PARTICIPAÇÃO
            Para participar é necessário efetuar uma compra acima de R$ 250,00 (duzentos e cinquenta 
            reais) em qualquer loja participante, site, aplicativo ou pedido por delivery.
            <br><br>
            a) Promoção válida para todos os consumidores que efetuarem suas compras;
            até às 23:00 (vinte e três horas) do dia 16 de dezembro de 2021. Todos os usuários que
            fizerem essas atividades exatamente como está descrito ganham um cupom da sorte para 
            concorrer aos prêmios.
            <br>
            b) Qualquer compra realizada fora do período disposto acima, estará
            imediatamente desclassificada.
            <br>
            c) A participação no presente Concurso é voluntária, gratuita e implica na
            aceitação total e irrestrita dos termos e condições do presente Regulamento.
            <br>
            d) A presente promoção é aberta ao público em geral, podendo participar as
            pessoas Físicas, residentes em todo o território nacional e internacional, que
            cumprirem com os termos e condições estabelecidas neste regulamento.
            <br>
            e) Todos os consumidores deverão Ler e aceitar este Regulamento, por tal ato
            submetendo-se de forma irretratável e irrevogável a todos os respectivos termos
            e condições.
            <br>
            f) O Empório Villa Borghese reserva-se o direito de desclassificar e excluir os participantes 
            cuja conduta demonstre estar manipulando dolosamente a operação da promoção, bem
            como os participantes que, tentarem fraudar ou burlar as regras estabelecidas neste
            Regulamento.
            <br>
            g) O Empório Villa Borghese se reserva o direito de desclassificar as inscrições que não
            preencham os requisitos previstos nos itens anteriores ou em qualquer outra
            disposição deste Regulamento, independentemente de qualquer comunicação prévia.
            <br><br>
            11. ENDEREÇO DO LOCAL DE EXIBIÇÃO DOS PRÊMIOS
            Os prêmios prometidos nesta promoção ficarão expostos, por meio de material
            promocional, no site da empresa promotora www.emporiovillaborghese.com.br, nas lojas 
            físicas participantes, bem como em suas Redes Sociais.
            <br><br>
            12. FORMA DE NOTIFICAÇÃO DO(S) CONTEMPLADOS
            No instante da compra na loja o cliente já será informado de quantos cupons da sorte terá 
            direito para concorrer aos prêmios, no caso dos clientes que fizeram as compras através do 
            site, app ou delivery, o aviso será dado no ato da entrega da compra na sua residência.
            <br><br>
            13. CANAIS E FORMA DE DIVULGAÇÃO DO EVENTO
            Objetivando divulgar a promoção, a Empresa promotora utilizará os seguintes
            veículos de comunicação: anúncios em sites, redes sociais, banners e e-mails marketing.
            <br><br>
            14. PRAZO DE CADUCIDADE DO DIREITO DOS PRÊMIOS
            O prazo de caducidade do direito aos prêmios indicados neste Regulamento, por
            parte do contemplado, será indeterminado.
            <br><br>
            15. DÚVIDAS E CONTROVÉRSIAS
            As dúvidas e controvérsias oriundas de reclamações dos consumidores participantes
            da promoção autorizada deverão ser, preliminarmente, dirimidas pelos seus
            respectivos organizadores.
            <br><br>
            16. RECLAMAÇÕES
            O PROCON local, bem como órgãos conveniados em cada jurisdição, receberão as
            reclamações devidamente fundamentadas dos consumidores participantes
            Observação
            Fica eleito o Foro da Cidade de Santos- S.P para dirimir quaisquer controvérsias
            oriundas deste regulamento, excluindo-se qualquer outro por mais privilegiado que
            seja.
            <br><br>
            17. DISPOSIÇÕES GERAIS
            <br>
            a) O Empório Villa Borghese não se responsabilizará por eventuais prejuízos que os
            participantes possam ter, oriundos de situações que estejam fora de seu controle. Para
            tanto, exemplifica-se as seguintes situações, mas sem se limitar a:
            <br>
            b) Pelas inscrições que não forem realizadas por problemas na transmissão de dados
            no servidor, em provedores de acessos de usuários ou ainda por falta de energia
            elétrica, sem exclusão das demais situações decorrentes de caso fortuito ou força
            maior;
            <br>
            c) Por qualquer inaptidão do participante ao uso da internet;
            <br>
            d) Por limitações tecnológicas de alguns modelos de computadores;
            <br>
            e) Oscilações, interrupções, falhas de transmissão dos serviços de internet;
            <br>
            f) Por danos de qualquer espécie causados em virtude do acesso a página da internet;
            <br>
            g) Por perda de dados, falhas e informações relativas ao uso do sistema pelo
            participante, por defeitos de sua internet.
            <br>
            h) O Empório Villa Borghese pode interromper e/ou cancelar o Concurso por motivo de 
            força maior.
            <br>
            i) Este regulamento poderá ser alterado pelo Empório Villa Borghese tantas vezes quantas 
            forem necessárias, garantida a sua divulgação de forma eficaz.
            <br>
            j) Quaisquer dúvidas, divergências ou situações não previstas neste Regulamento
            serão julgadas e decididas de forma soberana e irrecorrível pela Direção do Empório Villa 
            Borghese.
            <br>
            k) O vencedor autoriza, a qualquer tempo, pelo prazo de 5 (cinco) anos a contar da
            data da divulgação do resultado desta promoção, o uso de sua voz e imagem, em spots
            de radiodifusão, televisão, fotos, cartazes, filmes, websites, folhetos, livros, revistas e
            peças promocionais, para fins de divulgação do prêmio, sem qualquer ônus adicional
            para as “Partes”, ainda que ele não usufrua do prêmio.
            <br>
            l) A simples participação na presente promoção implicará no integral reconhecimento
            das condições e aceitação irrestrita deste Regulamento, bem como, presumir-se- á a
            condição de que os participantes ganhadores não possuem qualquer impedimento
            fiscal, legal ou outro que os impeça de receber e/ou usufruir o prêmio ganho.
            <br>
            m) O Concurso poderá ser divulgado pela internet ou qualquer outro meio.
            <br>
            n) O Empório Villa Borghese não se responsabilizará pela autenticidade dos dados cadastrais
            fornecidos pelos participantes.
            <br>
            o) O regulamento está disponível no site www.emporiovillaborghese.com.br
            <br>
            p) À divulgação, condução, participação, premiação, bem como qualquer ato/fato
            decorrente deste Concurso aplicar-se- á a legislação brasileira.
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <%- include ("./components/footer") %>
  <!-- ========== END FOOTER ========== -->

  <!-- End Go to Top -->
  <%- include ("./components/scripts") %>
</body>
</html>